/*---------------------GENERAL--------------------*/
html{
    overflow: scroll;

}
body{
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
    background-color: #dddd;
    margin-bottom: 0px;
    margin-top: 15px;
}

iframe{
    border: none;
    width: 100%;
    height: 230px
}

a {
    text-decoration: none;
    color: black;
}

/*---------------------HEADER--------------------*/
header {
    display: flex;
    flex-direction: column;
    height: 160px;
   
}


/*---------------------FOOTER--------------------*/
footer{
    background-color: #e75112;
    border-top: 1px solid black;
    padding-top: 0.5%;
    padding-left: 10%;
    height:45px;
}

/*---------------------MENU--------------------*/
#menuContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: #57585a;
    margin: auto;
   
}

#menuContainer > p {
    color:white;
    font-family: 'Segoe UI';
    font-size: 150%;
    height: fit-content;
    margin: auto;
    margin-right: 1%;
}

#menuContainer > a{
    margin-left: 1%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}



.scrollX {
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    white-space: nowrap;

}

#mainLogo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
}

#menuIcon {
    width: 40px;
    
}

/*---------------------ACCUEIL--------------------*/

.box{
    width: 35%;
    text-align: center;
}

.box > p{
    font-family: 'Segoe UI';
    font-size: 250%;
    border: 1px solid black;
    border-radius: 40px 40px 0px 0px;
    margin: 0px;
    padding: 20px;
    background-color: #e75112;
    color:white;
}
.box > img{
    width: 99.7%;
    border-radius: 0px 0px 40px 40px;
    border: 1px solid black;
}

#boxContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.button{
    padding: 1% 5%;
    border: solid 1px black;
    white-space: nowrap;
}

.center{
    display: flex;
    justify-content: center;
}

.finalisation{
    color:white;
    background-color: #e75112;
    border-radius: 40px;
    font-family: 'Segoe UI';
    font-size: 300%;
    height: 50px;
    width: 40%;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 1%;
}

.principal{
    margin-bottom: 2.2%;
}


/*-------------RECETTE-------------*/
.card_recette{
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #e75112;
    border-radius: 40px;
    margin-bottom: 10px;
}

.card_recette > div > p {
    font-family: 'Segoe UI';
    color:white;
    font-size: 150%;
    margin: 10px;
}

.img_recette{
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
}

.card_recette > :nth-child(3){
    margin: 5px;
}

.list_ingredient{
    text-align: left;
    padding: 15px;
    border: 1px solid white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
}

.checkbox_recette{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
}


.case_conf{
    margin-top: 2.5%;
    background-color: #e75112;
    width: 40%;
    margin-left: 30%;
    height: 80px;
    border: 1px solid black;
    border-radius: 40px;
    margin-bottom: 20px;
}

.conf{
    background-color: #e75112;
    border: none;
    font-family: 'Segoe UI';
    color:white;
    font-size:300%;
    width: 40%;
}

.deroulant{
    height: 70%;
    width: 55px;
    border-radius: 50px;
    margin-top: 15px;
    text-align: center;
}



/*-------------PAGEMENU-------------*/
#boxinfo{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

.maps{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 30px 30px;
}

.info{
    width: 40%;
    text-align: center;
}

.info > p{
    border: 1px solid black;
    border-radius: 40px 40px 0px 0px;
    margin: 0px;
    padding: 20px;
    background-color: #e75112;
    font-size:x-large;
}

.info > div{
    width: 99.8%;
    height: 88%;
    border-radius: 0px 0px 30px 30px;
    border: 1px solid black;
    background-color: white;
}

.info > div > p{
    font-size: x-large;
}

.case_legal{
    text-align: left;
    background-color: #e75112;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100px;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 25px;
}

/*----------------COMPO----------------*/

.container_ingredient {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title_ingredient {
    margin-left: 5%;
}

.card_ingredient {
    width: 200px;
    display: inline-block;
    text-align: center;
    border: solid 1px black;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #dddd;
}

.card_ingredient>img {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid black;
}

.card_ingredient>p {
    margin: 1px;
}

.card_ingredient>input {
    width: 25px;
    height: 25px;
    float: right;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 5;
}

.container_container{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #e75112;
    border: 1px solid black;
    border-radius: 40px;
    padding-bottom: 30px;
}

.container_container > p{
    font-family: 'Segoe UI';
    color:white;
    font-size: x-large;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
}


/*----------------PAYEMENT----------------*/
.inline {
    display: flex;

}

.order_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    padding: 20px;
    width: 80%;
    border-radius: 50px;
    background-color: #e75112;
}

.order_summary {
    width: 78%;
    margin-right: 2%;
    text-align: left;
    padding: 20px;
    border: solid 1px black;
    border-radius: 40px;
    background-color: #dddd;
}

.order_payment {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: solid 1px black;
    padding-bottom: 20px;
    border-radius: 40px;
    background-color: #dddd;
    height: 100%;
}

.order_payment>p {
    width: 80%;
    margin: 10px auto;
}

.order_payment>input {
    width: 80%;
    margin: 5px auto;
}

/*----------BACK----------*/
.back_button {
    display: flex;
    vertical-align: center;
    margin-left: 20px;
    padding-bottom: 20px;
}

.back_img {
    width: 30px;
    height: 30px;
}

.back_text{
    margin: auto 10px;
}

.order_payment > :nth-last-child(1){
    background-color: #e75112;
    border-radius: 20px;
}


/*--------------------------*/
/*--------------------------*/
/*--------------------------*/

@media (max-width: 640px) {
/*-------------ACCUEIL-------------*/
   

    .box > p{
        font-size: x-large;
    }

    .box > img {
        margin-bottom: 20px;
    }

    .finalisation{
        font-size: x-large;
        padding-top: 15px;
        width: 80%;
    }

    #boxContainer{
        display: inline;
    }

    .principal{
        width: 80%;
        padding-left: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    /*-------------PAGEMENU-------------*/

    #boxinfo{
        display: inline;
    }

    .info{
        width: 80%;
        padding-left: 10%;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 250px;
    }

    .info > div > p {
        font-size: 100%;
    }

    /*-------------RECETTE-------------*/
    .card_recette{
        width: 90%;
        margin-bottom: 20px;
    }

    .case_conf{
        width: 90%;
        margin-left: 5%;
    }

    .conf{
        font-size: xx-large;
    }
    /*-------------COMPO-------------*/
    .container_ingredient{
        width: 82.5%;
        height: 265px;
        padding-left: 11%;
    }


    /*-------------PAYEMENT-------------*/
    .order_container{
        display: inline-block;
        margin-left: 5%;
    }

    .order_summary{
        width: 90%;
        height: 350px;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .order_payment{
    width: 90%;
    margin-left: 5%;
    }
}